*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.textoP{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(0deg rgba(209, 1, 1, 0.63))



}
body{
    width: 100%;
    height: 100%;
}
header{
background-color: black;
opacity: 0.7;
width: 100%;
margin: 0;
height: 100px;
position: absolute;
z-index: 1;

}
.logo{
    margin-top: 55px;
    width: 250px;
    border-radius: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Arial, Helvetica, sans-serif ;
    height: 40px;
    
    
}
main{
   
    top: 1;
    background:url('img/banner.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
    position: relative;
    
}
.nav-list{
    list-style: none;
    display: flex;
    margin-top: 38px;;

}
.nav-list li{
    
    letter-spacing: 3px;
    margin-left: 32px;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
@media(max-width: 999px){
    body{
        /*overflow: hidden;*/
        
        
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;

    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
        margin-top: 40px;
    }
}
.nav-list.active {
    transform: translate(0);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

.list-Banner {
    background: rgb(214, 207, 207);
    align-items: center;
    display: flex;
    justify-content: space-around;

    }
    .list-Banner li{
        list-style: none;

    }

img{
width: 500px;
}